/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets background color of webpage */
body {
    background-color: #d9dcd6;
}
/* Webpage Header Styling */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header Horiseon text size and inline-block display */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets seo text in Horiseon to a different color */
.seo {
    color: #d9dcd6;
}
/* Sets header navigation links size, styling, and positioning */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Header Navigation Links Color */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraph Font Size */
p {
    font-size: 16px;
}
/* Webpage Background Image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Sets layout of the body of the webpage, including the two columns, and the footer */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets Where Column Images are Located on Page */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Webpage First Column Styling */
.benefits-1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* First Column Image Size */
.benefits-1 img {
    max-height: 200px;
}
/* First Column Font Size, Spacing Between Boxes */
.benefits-1 .column-1 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Webpage Second Column Styling */
.benefits-2 {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Second column text color and box sizing */
.benefits-3 {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Second column header text size, center aligned, and spacing between items */
.benefits-3 .column-2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}
/* Second column images block display, sizing, and spacing */
.benefits-3 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Webpage Footer Styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer Header Font Size, Bold Font */
footer .text  {
    font-size: 20px;
    font-weight: bold;
}
